# Python - privremeni fajlovi
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/

# Datasetovi (Preveliki za Git)
*.zip
*.tar.gz

# Modeli i težine (Weight fajlovi su često >100MB)
*.pt
*.pth
*.weights
*.h5
*.onnx

# Logovi i rezultati obrade

# IDE specifični fajlovi
.vscode/
.idea/

# OS specifični fajlovi
.DS_Store
Thumbs.db
# Python - privremeni fajlovi
kod/venv/
__pycache__/